<div class="modal fade" tabindex="-1" role="dialog" id="profileChangePicture">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Upload a picture</h5>
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/account/changepicture" enctype="multipart/form-data">
        <div class="modal-body text-center">
          <strong class="mb-1">Only upload 1 picture!</strong>
        </div>
        <div class="modal-footer justify-content-center">
          <!-- <a id="deleteAdLink"></a> -->
          <!-- TODO: Upload btn -->
            <div class="btn btn-success upload-btn-wrapper">
              <button class="btn p-0 border-0">Upload pictures</button>
              <input type="file" name="photos" multiple>
            </div>
            <!-- <button type="button" class="btn btn-primary">Upload</button> -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>