<div class="modal fade mt-5" tabindex="-1" role="dialog" id="profiletitleedit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-body">

          <div class="row justify-content-center align-self-center text-center">

            <div class="col px-0">
              <div class="text-center">
                <div class="btn btn-outline-primary" data-toggle="modal" data-target="#profileChangePicture" data-dismiss="modal">
                  <i class="fas fa-user-circle fa-5x"></i>
                </div>
                  <h5 class="text-center mb-0 mt-2">Change Photo</h5>
              </div>
            </div>

            <div class="col px-0">
              <div class="text-center">
                <div class=" btn btn-outline-warning" data-toggle="modal" data-target="#changepassword" data-dismiss="modal">
                  <i class="fas fa-key fa-5x"></i>
                </div>
                  <h5 class="text-center mb-0 mt-2">Change Password</h5>
              </div>
            </div>

            <div class="col px-0">
              <div class="text-center">
                <div class=" btn btn-outline-secondary" data-toggle="modal" data-target="#profileeditModal" data-dismiss="modal">
                  <i class="fas fa-info-circle fa-5x"></i>
                </div>
                  <h5 class="text-center mb-0 mt-2">Edit Details</h54>
              </div>
            </div>

          </div>

        </div>

    </div>
  </div>
</div>