<div class="modal fade bd-example-modal-lg" id="sellCarModal" tabindex="-1" role="dialog"
    aria-labelledby="sellCarModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellCarModalTitle">Create a new AD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Price</label>
                        <div class="col-sm-10">
                            <input name="price" type="number" class="form-control" placeholder="Price in €" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Make</label>
                        <div class="col-sm-10">
                            <input name="make" type="text" class="form-control" placeholder="Make" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Model</label>
                        <div class="col-sm-10">
                            <input name="model" type="text" class="form-control" placeholder="Model" required>
                        </div>
                    </div>

                    <!-- TODO: Adatbázisban javítani, lehet NULL -->
                    <!-- TITLE -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Extra Title</label>
                        <div class="col-sm-10">
                            <input name="title" type="text" class="form-control" placeholder="Extra text after make and model">
                        </div>
                    </div>

                    <hr>

                    <!-- <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Language</label>
                        <div class="col-sm-10">
                            <select class="form-control" disabled>
                                <option>English</option>
                            </select>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Shape</label>
                        <div class="col-sm-10">
                            <select name="shape" class="form-control" required>
                                <option style="display: none;" value="">Choose one...</option>
                                <option value="Sedan">Sedan</option>
                                <option value="Estate">Estate</option>
                                <option value="Carbrio">Cabrio</option>
                                <option value="Coupe">Coupe</option>
                                <option value="SUV">SUV</option>
                                <option value="Hatchback">Hatchback</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Fuel Type</label>
                        <div class="col-sm-10">
                            <select name="fuel_type" class="form-control" required>
                                <option style="display: none;" value="">Choose one...</option>
                                <option value="Petrol">Petrol</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Gas / LPG">Gas / LPG</option>
                                <option value="Hybrid">Hybrid</option>
                                <option value="Electric">Electric</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Horsepower</label>
                        <div class="col-sm-10">
                            <input name="horsepower" type="number" class="form-control" min="10" max="2500" placeholder="Horsepower" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>CM<sup>3</sup></label>
                        <div class="col-sm-10">
                            <input name="cubic_capacity" type="number" class="form-control" min="600" step="100" max="14000" placeholder="Cubic Capacity" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Milage</label>
                        <div class="col-sm-10">
                            <input name="milage" type="number" class="form-control" placeholder="Milage in km" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Year</label>
                        <div class="col-sm-10">
                            <input name="year" type="number" class="form-control" min="1800" value="2000" placeholder="Year" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Doors</label>
                        <div class="col-sm-10">
                            <input name="doors" type="number" class="form-control" min="0" max="30" placeholder="Number of Doors" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger">*</span>Seats</label>
                        <div class="col-sm-10">
                            <input name="seats" type="number" class="form-control" min="1" max="200" placeholder="Number of Seats" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea name="description" class="form-control" placeholder="Your detailed description" cols="30" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Pictures</label>
                        <div class="col-sm-10">
                            <form method="POST" action="/newmarketad" enctype="multipart/form-data">
                                <div class="form-group row btn form-control btn-outline-secondary upload-btn-wrapper m-0">
                                    <button class="btn p-0">Upload pictures</button>
                                    <input type="file" name="photos" multiple>
                                </div>
                        </div>
                    </div>

                    <!-- pic upload -->
                    <!-- <form method="POST" action="/newmarketad" enctype="multipart/form-data">
                        <div class="form-group row btn btn-outline-danger upload-btn-wrapper">
                            <button class="btn">Upload a file</button>
                            <input type="file" name="photos" multiple class="btn btn btn-outline-primary p-0">
                        </div> -->



                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <div class=" v-divider"></div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create ad</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>