<%- include('NavbarItems/location'); -%>
<%- include('NavbarItems/login'); -%>
<%- include('NavbarItems/register'); -%>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/public/img/CCCLogo.png" width="250" height="50" alt="">
  </a>

  <!-- phone dropwdown -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- END phone-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- location BUTTON !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      <li class="nav-item mr-sm-3 my-2">
        <span class="btn btn-outline-secondary my-2 btn-lg" data-toggle="modal" data-target="#locationModal">Location <span class="sr-only">(current)</span></span>
      </li>
      <!-- END location button -->

      <!-- Search bar -->
      <li class="nav-item">
        <div class="input-group input-group-lg mb-3 my-3">
          <input type="text" class="form-control" placeholder="Search for a car" aria-label="Search for a car" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button">Search</button>
          </div>
        </div>
      </li>
      <!-- END search bar -->

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <!-- LOGIN BUTTONN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      <span class="btn btn-primary btn-lg my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">Login</span>
    </form>
  </div>
</nav>
<!-- END NAVBAR -->