<div class="collapse" id="navbarSupportedContenFilter">
  <nav class="navbar navbar-light p-0 pl-3 mb-0 filterbarbg">
    <div class="col-5 form-inline">
      <button class="btn btn-warning mr-sm-2" id="sidebarCollapse">Advanced Filters...</button>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle mr-sm-2" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Standard Sorting</a>
          <a class="dropdown-item" href="#">Best Deals</a>
          <a class="dropdown-item disabled" href="#">Recommendation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Milage: Ascending</a>
          <a class="dropdown-item" href="#">Milage: Descending</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Date: Newest First</a>
          <a class="dropdown-item" href="#">Date: Oldest First</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Price: Highest First</a>
          <a class="dropdown-item" href="#">Price: Lowest First</a>
        </div>
      </div>
      <span class="btn btn-success mr-sm-2">
        <span class="fas fa-sync-alt"></span>
      </span>
      <span class="btn btn-danger mr-sm-2">
        <span class="fas fa-trash-alt"></span>
      </span>
    </div>
    <div class="col-7">
      <form class="form-inline my-2 my-lg-0 p-2">
        <div class="row justify-content-end">
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="First-Timer's Car">
            <img src="/public/img/FirstTimersCar.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="Luxury Car">
            <img src="/public/img/LuxuryCar.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="City Car">
            <img src="/public/img/CityCar.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="Performance Car">
            <img src="/public/img/PerformanceCar.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="Cabrio">
            <img src="/public/img/Cabrio.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="Classic Car">
            <img src="/public/img/ClassicCar.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="Family Car">
            <img src="/public/img/FamilyCar.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="SUV">
            <img src="/public/img/SUV.png" class="img-fluid">
          </div>
          <div class="col-1 navbar-brand btn btn-outline-warning mr-1 p-1" data-toggle="tooltip" data-placement="bottom"
            title="Eco-Friendly">
            <img src="/public/img/Eco-Friendly.png" class="img-fluid">
          </div>

        </div>
      </form>
    </div>
</div>
</nav>
</div>