<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <link rel="stylesheet" type="text/css" href="/public/custom/css/ads.css" media="all" />
  <title>Car Clutch Club</title>
  <style>
    
  </style>
</head>
<body>
  <%- include('inc/navbar'); -%>

  <!-- MAIN -->
  <div class="main">
    <div class="row mr-0 ml-0">
      <div class="col-md borderonmain p-0"> <!-- pre-scrollable -->

        <!-- TITLE XDDDD -->
        <div class="row maintitle m-0">
          <div class="col-3"></div>
          <div class="col-6 text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Pictures</h3>
          </div>
          <div class="col-3 p-0">
            <!-- <div class="float-right pt-1 pb-1 pr-2 h-100">
              <button class="btn btn-outline-success h-100"><span class="fas fa-hand-holding-usd"></span> Sell your car</button>
            </div> -->
          </div>
        </div>

          <!-- GALLERY -->
          <!-- Container for the image gallery -->
          <div class="container p-0">

            <!-- Full-width images with number text -->
            <div class="mySlides">
              <div class="numbertext card-img">1 / 6</div>
              <div>
                <img src="/public/img/Red-Tesla/TR1.jpg" class="card-img img-fluid">
              </div>
            </div>

            <div class="mySlides">
              <div class="numbertext position-absolute">2 / 6</div>
                <div class="">
                  <img src="/public/img/Red-Tesla/TR2.jfif" class="card-img img-fluid">
                </div>
            </div>

            <div class="mySlides">
              <div class="numbertext position-absolute">3 / 6</div>
              <div class="card-img">
                <img src="/public/img/Red-Tesla/TR3.jpg" class="card-img img-fluid">
              </div>
            </div>

            <div class="mySlides">
              <div class="numbertext position-absolute">4 / 6</div>
                <img src="/public/img/Red-Tesla/TR4.jpg" class="card-img img-fluid">
            </div>

            <div class="mySlides">
              <div class="numbertext position-absolute">5 / 6</div>
                <img src="/public/img/Red-Tesla/TR5.jpg" class="card-img img-fluid">
            </div>

            <div class="mySlides">
              <div class="numbertext position-absolute">6 / 6</div>
                <img src="/public/img/Red-Tesla/TR6.jpg" class="card-img img-fluid">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
              <p id="caption"></p>
            </div>

            <!-- Thumbnail images -->
            <!-- FUCKIN BUGS -->
            <div class="row img-fluid m-0 align-items-center borderonmain">
              <div class="column h-100">
                <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR1.jpg" onclick="currentSlide(1)" alt="The Woods">
              </div>
              <div class="column">
                <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR2.jfif" onclick="currentSlide(2)" alt="Cinque Terre">
              </div>
              <div class="column">
                <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR3.jpg" onclick="currentSlide(3)" alt="Mountains and fjords">
              </div>
              <div class="column">
                <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR4.jpg" onclick="currentSlide(4)" alt="Northern Lights">
              </div>
              <div class="column">
                <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR5.jpg" onclick="currentSlide(5)" alt="Nature and sunrise">
              </div>
              <div class="column">
                <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR6.jpg" onclick="currentSlide(6)" alt="Snowy Mountains">
              </div>
            </div>
          </div>

          <!-- END GALLERY -->
        
      </div>
      <div class="col-md borderonmain p-0"> <!-- pre-scrollable -->

        <!-- TITLE Forum-->
        <div class="row maintitle m-0">
          <div class="col-4 p-0">
            <!-- <div class="float-left pt-1 pb-1 pl-2 h-100">
              <button class="btn btn-outline-success h-100"><span class="fas fa-scroll"></span> Create a thread</button>
            </div> -->
          </div>
          <div class="col-4 text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Details</h3>
          </div>
          <div class="col-4"></div>
        </div>
        
        <!-- actual cucc -->
        <div class="bg-light mt-4 ml-4 mr-4 mb-2">
          <h3 class="rounded-lg pt-2 pl-2 pr-2">Price: 20 000€</h3>

          <!-- Badges -->
          <div class="pl-2 pr-2 pb-2">
            <p class="card-text m-0 badge badge-primary">Popular</p>
            <p class="card-text m-0 badge badge-success">Eco-Friendly</p>
          </div>

        </div>

        <div class="bg-light mt-2 ml-4 mr-4 mb-2">
          <div class="row no-gutters">
            <!-- Column 1 -->
            <div class="col-lg-6">
              <h5 class="m-2"><span class="text-gray"> Make: </span> Tesla </h5>
              <h5 class="m-2"><span class="text-gray"> Model: </span> Model 3 </h5>
              <br>
              <h5 class="m-2"><span class="text-gray"> Vehicle Shape: </span> Coupe </h5>
              <h5 class="m-2"><span class="text-gray"> Fuel Type: </span> Electric </h5>
              <h5 class="m-2"><span class="text-gray"> Cubic Capacity: </span> --- </h5>
            </div>
            <!-- TODO: -->
            <!-- ITT HAGYTAM ABBA!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

            <!-- Column 2 -->
            <div class="col-lg-6">
              <!-- border and margin -->
              <div class="ad-mini-border">
                <h5 class="m-2"><span class="text-gray"> Milage: </span> 23 000 km </h5>
                <h5 class="m-2"><span class="text-gray"> Year: </span> 2016 </h5>
                <br>
                <h5 class="m-2"><span class="text-gray"> Doors: </span> 4 </h5>
                <h5 class="m-2"><span class="text-gray"> Seats: </span> 5 </h5>
              </div>
            </div>

          </div>
        </div>
        
        <!-- FIRST CAR -->
        <!-- <div class="card mb-3 m-4 ml-4">
          <div class="row no-gutters">

            <div class="col-lg-4">
              <img src="/public/img/M-F-pics/audi2.jfif" class="card-img rounded-lg custompic"  alt="...">
            </div>

            <div class="col-lg-8">
              <div class="card-header pt-2 pb-2">
                
                <h5 class="m-0">Audi A7/S7/RS7
                  <span class="text-success"></span>
                  
                  <span class="justify-content-end text-secondary"></span>
                </h5>
                

              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">

                
                <p class="card-text mb-1 badge badge-primary">New</p>

                
                <p class="card-text mb-0">2009 - Present</p>

                
                <p class="card-text">
                  
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 12 </span>
                  <span class="badge badge-danger"><span class="far fa-thumbs-down"></span> 4 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="far fa-star colored"></span>
                    </span>

                </p>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>

<script src="/public/SlideGallery/js/slide.js"></script>

  <%- include('inc/scripts'); -%>

</body>
</html>