<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Mainpage</title>
</head>
<body>
  <%- include('inc/navbar'); -%>

  <div class="main">
    <div class="row">
      <div class="col">
        left side
      </div>
      <div class="col">
        right side
      </div>
    </div>
  </div>

  <%- include('inc/scripts'); -%>
</body>
</html>