<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Mainpage</title>
</head>
<body>
  <%- include('inc/navbar'); -%>

  <div class="main">
    
  </div>
  
  <%- include('inc/scripts'); -%>
</body>
</html>