<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainpage</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/custom/css/style.css">
    
</head>
<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">

        <!-- Logo -->
        <!-- Size!!! -->
        <a class="navbar-brand" href="#">
        <img src="/public/img/CCCLogo.png" alt="Logo" id="Logo">
        </a>

        <!-- DROPDOWN -->
        <!-- ICONS, POSTION, NO BUTTON -->
      <div class="dropdown">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Location
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <a class="dropdown-item">Country
            <input class="form-control" type="text" placeholder="Example: Hungary" aria-label="Search">
          </a>

          <a class="dropdown-item" href="#">City
            <input class="form-control" type="text" placeholder="Example: Budapest" aria-label="Search">
          </a>

        </div>
        
      </div>
      <!-- ... -->

      <!-- Underlined search bars with buttons -->
      <form>
        <div class="row">
          <div class="col-md-9">
            <input id="exampleFormControlInput5" type="email" placeholder="What're you searching for?" class="form-control form-control-underlined">
          </div>
          <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
          </div>
        </div>
      </form>
      <!-- End -->

      <div class="float-right">
      <button type="button" class="btn btn-primary btn-lg ">Login</button>
      </div>
    </ul>

    
  </nav>
</body>
<script src="/public/bootstrap/js/jquery-3.4.1.slim.min.js"></script>
<script src="/public/bootstrap/js/popper.min.js"></script>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>

</html>