<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Mainpage</title>
  <style>
    .checked {
      color: orange;
    }
    .colored{
      color: orange;
    }
    .badge-rare{
      background-color: purple;
      color: white;
    }
  </style>
</head>
<body>
  <%- include('inc/navbar'); -%>
  <%- include('inc/filterbar'); -%>
  
  <div class="main">
    <div class="row mr-0">
      <div class="col mycontent-left p-0">

        <!-- FIRST CAR -->
        <div class="card mb-3 m-4 ml-4">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/public/img/M-F-pics/tesla1.png" class="card-img rounded-lg" id="custompic" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-header pt-2 pb-2">
                <!-- Header -->
                <h5 class="m-0">Tesla Model 3 
                  <span class="text-success">(15 000€)</span>
                  <!-- Positon to right!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                  <span class="justify-content-end text-secondary">000 km</span>
                </h5>
                <!-- <form class="text form-inline justify-content-end">asd</form> -->
                
              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">
                
                <!-- ROW 1 TAGS -->
                <p class="card-text mb-1 badge badge-primary">Salon</p>
                <p class="card-text mb-1 badge badge-success">Electric</p>
                <p class="card-text mb-1 badge badge-secondary">AWD</p>

                <!-- ROW 2 Fuel type, year, cubic cap, hp, km -->
                <p class="card-text mb-0">Electric, 2018, 250 HP, 000 km</p>

                <!--  -->
                <p class="card-text">
                  <!-- ROW 3Likes,dislikes -->
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 9 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star-half-alt checked"></span>
                      <span class="far fa-star colored"></span>
                    </span>
                  <span class="card-text text-secondary">Lajos Nagy</span>

                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- SECOND CAR -->
        <div class="card mb-3 m-4 ml-4">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/public/img/M-F-pics/audi1.jpg" class="card-img rounded-lg" id="custompic" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-header pt-2 pb-2">
                <!-- Header -->
                <h5 class="m-0">Audi S5 V6 3.2 
                  <span class="text-success">(17 450€)</span>
                  <!-- Positon to right!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                  <span class="justify-content-end text-secondary">000 km</span>
                </h5>
                <!-- <form class="text form-inline justify-content-end">asd</form> -->
                
              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">
                
                <!-- ROW 1 TAGS -->
                <p class="card-text mb-1 badge badge-primary">Popular</p>
                <p class="card-text mb-1 badge badge-warning">New</p>
                <p class="card-text mb-1 badge badge-warning">Young</p>
                <p class="card-text mb-1 badge badge-secondary">AWD</p>

                <!-- ROW 2 Fuel type, year, cubic cap, hp, km -->
                <p class="card-text mb-0">Benzin, 2018, 285 HP, 24 500 km</p>

                <!--  -->
                <p class="card-text">
                  <!-- ROW 3Likes,dislikes -->
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 17 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star-half-alt checked"></span>
                    </span>
                  <span class="card-text text-secondary">Csaba Super</span>

                </p>
              </div>
            </div>
          </div>
        </div>
        
        <!-- THIRD CAR -->
        <div class="card mb-3 m-4 ml-4">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/public/img/M-F-pics/bmw1.jpg" class="card-img rounded-lg" id="custompic" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-header pt-2 pb-2">
                <!-- Header -->
                <h5 class="m-0">BMW M3 V6 3.2
                  <span class="text-success">(18 850€)</span>
                  <!-- Positon to right!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                  <span class="justify-content-end text-secondary">000 km</span>
                </h5>
                <!-- <form class="text form-inline justify-content-end">asd</form> -->
                
              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">
                
                <!-- ROW 1 TAGS -->
                <p class="card-text mb-1 badge badge-primary">Popular</p>
                <p class="card-text mb-1 badge badge-primary">Warranty</p>
                <p class="card-text mb-1 badge badge-success">Hybrid</p>
                <p class="card-text mb-1 badge badge-warning">Limited Edition</p>

                <!-- ROW 2 Fuel type, year, cubic cap, hp, km -->
                <p class="card-text mb-0">Hybrid, 2017, 305 HP, 42 000 km</p>

                <!--  -->
                <p class="card-text">
                  <!-- ROW 3Likes,dislikes -->
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 35 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="far fa-star colored"></span>
                      <span class="far fa-star colored"></span>
                    </span>
                  <span class="card-text text-secondary">BMW Market</span>

                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- FOURTH CAR -->
        <div class="card mb-3 m-4 ml-4">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/public/img/M-F-pics/lambo1.jpg" class="card-img rounded-lg" id="custompic" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-header pt-2 pb-2">
                <!-- Header -->
                <h5 class="m-0">Lamborghini Aventador V12
                  <span class="text-success">(35 000€)</span>
                  <!-- Positon to right!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                  <span class="justify-content-end text-secondary">000 km</span>
                </h5>
                <!-- <form class="text form-inline justify-content-end">asd</form> -->
                
              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">
                
                <!-- ROW 1 TAGS -->
                <p class="card-text mb-1 badge badge-primary">Popular</p>
                <p class="card-text mb-1 badge badge-warning">Young</p>
                <p class="card-text mb-1 badge badge-warning">Limited Edition</p>
                <p class="card-text mb-1 badge badge-secondary">New Tires</p>

                <!-- ROW 2 Fuel type, year, cubic cap, hp, km -->
                <p class="card-text mb-0">Benzin, 2019, 650 HP, 20 000 km</p>

                <!--  -->
                <p class="card-text">
                  <!-- ROW 3Likes,dislikes -->
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 42 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="far fa-star colored"></span>
                      <span class="far fa-star colored"></span>
                    </span>
                  <span class="card-text text-secondary">Pisti Boltos</span>

                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- FIFTH CAR -->
        <div class="card mb-3 m-4 ml-4">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/public/img/M-F-pics/maserati1.jpg" class="card-img rounded-lg" id="custompic" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-header pt-2 pb-2">
                <!-- Header -->
                <h5 class="m-0">Maserati V12
                  <span class="text-success">(40 000€)</span>
                  <!-- Positon to right!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                  <span class="justify-content-end text-secondary">000 km</span>
                </h5>
                <!-- <form class="text form-inline justify-content-end">asd</form> -->
                
              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">
                
                <!-- ROW 1 TAGS -->
                <p class="card-text mb-1 badge badge-primary">Warranty</p>
                <p class="card-text mb-1 badge badge-warning">Young</p>
                <p class="card-text mb-1 badge badge-warning">Limited Edition</p>
                <p class="card-text mb-1 badge badge-rare">Rare</p>
                <p class="card-text mb-1 badge badge-secondary">Cabrio</p>

                <!-- ROW 2 Fuel type, year, cubic cap, hp, km -->
                <p class="card-text mb-0">Benzin, 2019, 450 HP, 7 500 km</p>

                <!--  -->
                <p class="card-text">
                  <!-- ROW 3Likes,dislikes -->
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 4 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star-half-alt checked"></span>
                    </span>
                  <span class="card-text text-secondary">F1 Racing Market</span>

                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- SIXTH CAR -->
        <div class="card mb-3 m-4 ml-4">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/public/img/M-F-pics/toyota1.jpg" class="card-img rounded-lg" id="custompic" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-header pt-2 pb-2">
                <!-- Header -->
                <h5 class="m-0">Toyota
                  <span class="text-success">(9 500€)</span>
                  <!-- Positon to right!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                  <span class="justify-content-end text-secondary">000 km</span>
                </h5>
                <!-- <form class="text form-inline justify-content-end">asd</form> -->
                
              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">
                
                <!-- ROW 1 TAGS -->
                <p class="card-text mb-1 badge badge-primary">Warranty</p>
                <p class="card-text mb-1 badge badge-success">Hybrid</p>
                <p class="card-text mb-1 badge badge-success">Eco-Friendly</p>

                <!-- ROW 2 Fuel type, year, cubic cap, hp, km -->
                <p class="card-text mb-0">Hybrid, 2016, 145 HP, 60 000 km</p>

                <!--  -->
                <p class="card-text">
                  <!-- ROW 3Likes,dislikes -->
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 11 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star-half-alt checked"></span>
                      <span class="far fa-star colored"></span>
                      <span class="far fa-star colored"></span>
                      <span class="far fa-star colored"></span>
                      <span class="far fa-star colored"></span>
                    </span>
                  <span class="card-text text-secondary">JDM Club</span>

                </p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col">
        right side
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star-half-alt checked"></span>
        <span class="fas fa-star"></span>
      </div>
    </div>
  </div>

  <%- include('inc/scripts'); -%>
  

</body>
</html>