<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Mainpage</title>
  <style>
    .checked {
      color: orange;
    }
  </style>
</head>
<body>
  <%- include('inc/navbar'); -%>
  <%- include('inc/filterbar'); -%>
  
  <div class="main">
    <div class="row mr-0">
      <div class="col mycontent-left p-0">

        <div class="card mb-3 m-4 ml-4" style="max-width: 600px;">
          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="/public/img/M-F-pics/tesla1.png" class="card-img rounded-lg" id="custompic" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-header pt-2 pb-2">
                <!-- Header -->
                <h5 class="m-0">Tesla Model 3 
                  <span class="text-success">(15 000€)</span>
                </h5>
              </div>
              <div class="card-body pt-0 pl-2 pr-2 pb-0 ">

                <!-- ROW 1 TAGS -->
                <p class="card-text mb-1 badge badge-success">Electric</p>
                <p class="card-text mb-1 badge badge-primary">Salon</p>
                <p class="card-text mb-1 badge badge-secondary">AWD</p>
                
                <!-- ROW 2 Fuel type, year, cubic cap, hp, km -->
                <p class="card-text mb-0">Electric, 2018, 250 HP, 000 km</p>

                <!--  -->
                <p class="card-text">
                  <!-- ROW 3Likes,dislikes -->
                  <span class="badge badge-danger"><span class="far fa-thumbs-up"></span> 9 </span>
                    <span class="pl-2 pr-2">
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star checked"></span>
                      <span class="fas fa-star-half-alt checked"></span>
                      <span class="fas fa-star"></span>
                    </span>
                  <span class="card-text text-secondary">Nagy Lajos</span>

                </p>
              </div>
            </div>
          </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
      <div class="col">
        right side
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star-half-alt checked"></span>
        <span class="fas fa-star"></span>
      </div>
    </div>
  </div>

  <%- include('inc/scripts'); -%>
  

</body>
</html>