<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Mainpage</title>
  <style>
    .checked {
      color: orange;
    }
  </style>
</head>
<body>
  <%- include('inc/navbar'); -%>

  <div class="main">
    <div class="row">
      <div class="col">
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star-half-alt checked"></span>
        <span class="fas fa-star"></span>
      </div>
      <div class="col">
        right side
      </div>
    </div>
  </div>

  <%- include('inc/scripts'); -%>
</body>
</html>