<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Mainpage</title>
  <style>
    .checked {
      color: orange;
    }
  </style>
</head>
<body>
  <%- include('inc/navbar'); -%>
  
  
  <!-- FILTER-BAR -->
  <div class="" id="navbarSupportedContenFilter">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
    
  
      <!-- phone dropwdown btn -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContenSec" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- END phone btn-->
    
      <button class="btn btn-outline-danger">asd2</button>

      <div class="collapse" id="navbarSupportedContenSec">
        <ul class="navbar-nav mr-auto">
    
          <button class="btn btn-outline-danger">asd</button>

          <button class="btn btn-outline-danger">asd</button>
          <button class="btn btn-outline-danger">asd</button>
          <button class="btn btn-outline-danger">asd</button>
          <button class="btn btn-outline-danger">asd</button>
          <button class="btn btn-outline-danger">asd</button>
          <button class="btn btn-outline-danger">asd</button>
    
        </ul>
    
        
        
      </div>
    </nav>
  </div>
  <!-- END FILTERBAR -->


  <div class="main">
    <div class="row">
      <div class="col">
        lefside
      </div>
      <div class="col">
        right side
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star checked"></span>
        <span class="fas fa-star-half-alt checked"></span>
        <span class="fas fa-star"></span>
      </div>
    </div>
  </div>

  <%- include('inc/scripts'); -%>
</body>
</html>