<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Car Clutch Club - Profile</title>
  <style>
  
  </style>
</head>
<body>
  <%- include('inc/navbar'); -%>

  <!-- MAIN -->
  <div class="main">
    <div class="row mr-0 ml-0">
      <div class="col-8 borderonmain p-0">

        <!-- TITLE XDDDD -->
        <div class="row maintitle m-0">
          <div class="col text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Profile</h3>
          </div>
        </div>

        <!-- <img src="/public/img/prof_bg.png" class="img-fluid bgsize"> -->
        <div class="container bootstrap snippet p-0">
          <div class="container p-0">

            <!-- <button class="btn btn-outline-primary">Edit</button> -->
              <div class="fb-profile">
                <img align="left" class="fb-image-lg" src="/public/img/prof_bg.png"/>
                <img align="left" class="fb-image-profile thumbnail" src="/public/img/avatars/boy1.png"/>
                <div class="fb-profile-text">
                  <h1 class=" ">Deycknston Mackency</h1>
                  <p class="pl-2">Rap music rules!</p>
                </div>
              </div>
          </div>
      </div> 

      </div>
      <div class="col-4 borderonmain p-0">

        <!-- TITLE Forum-->
        <div class="row maintitle m-0">
          <div class="col text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Title 2</h3>
          </div>
        </div>

        asd
        asd
        <br>
        <br><br>
      </div>
    </div>
  </div>
</div>


  <%- include('inc/scripts'); -%>
</body>
</html>