<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('inc/head'); -%>
  <title>Car Clutch Club - Profile</title>
  <style>
  
  </style>
</head>
<body>
  <%- include('inc/NavbarItems/profileedit'); -%>
  <%- include('inc/navbar'); -%>

  <!-- MAIN -->
  <div class="main">
    <div class="row mr-0 ml-0">
      <div class="col-8 borderonmain p-0">

        <!-- TITLE -->
        <div class="row maintitle m-0">
          <div class="col-3"></div>
          <div class="col-6 text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Profile</h3>
          </div>
          <div class="col-3 p-0">
            <div class="float-right pt-1 pb-1 pr-2 h-100">
              <!-- btn -->
              <span class="btn btn-outline-primary h-100" data-toggle="modal" data-target="#profileeditModal">Edit</span>
              <span class="btn btn-outline-secondary my-2 btn-lg" data-toggle="modal" data-target="#locationModal">
                <!--<span class="fa fa-map-marker-alt"></span> Location <span class="sr-only">(current)</span></span> -->
            </div>
          </div>
        </div>

        <!-- <img src="/public/img/prof_bg.png" class="img-fluid bgsize"> -->
        <div class="container bootstrap snippet p-0">
          <div class="container p-0">

              <div class="fb-profile">
                <img align="left" class="fb-image-lg" src="/public/img/prof_bg.png"/>
                <img align="left" class="fb-image-profile thumbnail" src="/public/img/avatars/boy1.png"/>
                <div class="fb-profile-text">
                  <h1 class=" ">Deycknston Mackency</h1>
                  <p class="pl-2">Rap music rules!</p>
                </div>
              </div>
          </div>
      </div> 

      </div>
      <div class="col-4 borderonmain p-0">

        <!-- TITLE 2-->
        <div class="row maintitle m-0">
          <div class="col text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Statics</h3>
          </div>
        </div>

        asd
        asd
        <br>
        <br><br>
      </div>
    </div>
  </div>
</div>


  <%- include('inc/scripts'); -%>
</body>
</html>