/* .bgsize{
    height: 12rem;
    width: fit-content;
} */

/* Bootsnippete */
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
    max-height: 12rem;
}
.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    max-width: 200px;
    max-height: 200px;
}

.geciquoutemar{
    margin-top: 5px;
}

.profpage {
    min-height: 830px;
}

@media (max-width:1200px) {    
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 30%; 
        margin-bottom: 20px;
        max-width: 175px;
        max-height: 175px;
        min-width: 125px;
        min-height: 125px;
    }

    .geciquoutemar{
        margin-top: 50px;
    }
}

.pb-cmnt-textarea {
    padding: 20px;
    width: 100%;
    border: 1px solid #F2F2F2;
}

.avatarpic-comment{
    width: 35px;
    object-fit: cover;
    height: 35px;
  }

