/* NAVBAR DARK MODE */
.dropdown-menu {
  background-color: #212529;
}

.dropdown-menu a:hover {
  background-color: #333;
}

.dropdown-item.disabled {
  color: grey !important;
}

/* NEEDED FOR DARK THEME */
.whiteBorder {
  border: 1px solid white;
}

/* UPLOAD FILES BTN */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

 /* FOR MARKEDAD 16:9 */
 .embed-responsive .card-img{
  object-fit: cover;
}

/* FOR MOBILE VIEW -> MODALS ARE SCROLLABLE IF CAN'T FIT ON THE SCREEN */
.modal{
  overflow-y: auto;
}