<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/head'); -%>
  <link rel="stylesheet" type="text/css" href="/public/custom/css/ads.css" media="all" />
  <title>Car Clutch Club</title>
  <style>

  </style>
</head>

<body>
  <%- include('inc/navbar'); -%>
  <div class="main">
    <div class="row mr-0 ml-0">
      <div class="col-md borderonmain p-0">
        <div class="row maintitle m-0">
          <div class="col-3"></div>
          <div class="col-6 text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Pictures</h3>
          </div>
        </div>
        <div class="container p-0">
          <div class="mySlides">
            <div class="numbertext card-img">1 / 6</div>
            <div>
              <img src="/public/img/Red-Tesla/TR1.jpg" class="card-img img-fluid">
            </div>
          </div>
          <div class="mySlides">
            <div class="numbertext position-absolute">2 / 6</div>
            <div class="">
              <img src="/public/img/Red-Tesla/TR2.jfif" class="card-img img-fluid">
            </div>
          </div>
          <div class="mySlides">
            <div class="numbertext position-absolute">3 / 6</div>
            <div class="card-img">
              <img src="/public/img/Red-Tesla/TR3.jpg" class="card-img img-fluid">
            </div>
          </div>
          <div class="mySlides">
            <div class="numbertext position-absolute">4 / 6</div>
            <img src="/public/img/Red-Tesla/TR4.jpg" class="card-img img-fluid">
          </div>
          <div class="mySlides">
            <div class="numbertext position-absolute">5 / 6</div>
            <img src="/public/img/Red-Tesla/TR5.jpg" class="card-img img-fluid">
          </div>
          <div class="mySlides">
            <div class="numbertext position-absolute">6 / 6</div>
            <img src="/public/img/Red-Tesla/TR6.jpg" class="card-img img-fluid">
          </div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          <div class="caption-container">
            <p id="caption"></p>
          </div>
          <div class="row img-fluid m-0 align-items-center borderonmain">
            <div class="column h-100">
              <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR1.jpg" onclick="currentSlide(1)"
                alt="The Woods">
            </div>
            <div class="column">
              <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR2.jfif" onclick="currentSlide(2)"
                alt="Cinque Terre">
            </div>
            <div class="column">
              <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR3.jpg" onclick="currentSlide(3)"
                alt="Mountains and fjords">
            </div>
            <div class="column">
              <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR4.jpg" onclick="currentSlide(4)"
                alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR5.jpg" onclick="currentSlide(5)"
                alt="Nature and sunrise">
            </div>
            <div class="column">
              <img class="demo cursor w-100" src="/public/img/Red-Tesla/TR6.jpg" onclick="currentSlide(6)"
                alt="Snowy Mountains">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md borderonmain p-0">
        <div class="row maintitle m-0">
          <div class="col-4 p-0">
          </div>
          <div class="col-4 text-white text-center m-0 p-2 maintitle">
            <h3 class="m-0">Details</h3>
          </div>
          <div class="col-4"></div>
        </div>
        <div class="bg-light mt-4 ml-4 mr-4 mb-2">
          <h3 class="rounded-lg pt-2 pl-2 pr-2">Price: 20 000€</h3>
          <div class="pl-2 pr-2 pb-2">
            <p class="card-text m-0 badge badge-primary">Popular</p>
            <p class="card-text m-0 badge badge-success">Eco-Friendly</p>
          </div>
        </div>
        <div class="bg-light mt-2 ml-4 mr-4 mb-2">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <h5 class="m-2"><span class="text-gray"> Make: </span> Tesla </h5>
              <h5 class="m-2"><span class="text-gray"> Model: </span> Model 3 </h5>
              <br>
              <h5 class="m-2"><span class="text-gray"> Vehicle Shape: </span> Coupe </h5>
              <h5 class="m-2"><span class="text-gray"> Fuel Type: </span> Electric </h5>
              <h5 class="m-2"><span class="text-gray"> Cubic Capacity: </span> --- </h5>
            </div>
            <div class="col-lg-6">
              <div class="ad-mini-border">
                <h5 class="m-2"><span class="text-gray"> Milage: </span> 23 000 km </h5>
                <h5 class="m-2"><span class="text-gray"> Year: </span> 2016 </h5>
                <br>
                <h5 class="m-2"><span class="text-gray"> Doors: </span> 4 </h5>
                <h5 class="m-2"><span class="text-gray"> Seats: </span> 5 </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('inc/scripts'); -%>
  <script src="/public/SlideGallery/js/slide.js"></script>

</body>

</html>